*{
    /*background-color:#CCB8AD;*/
    color: black;
    background-color:gray;
}

header{
    display: flex;
    background-color: black;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1;

}
main{
    position: relative;
}

nav {
    position: absolute;
    right: 10vw;
}


menu a {
    color: #ffeee8;
    margin-left:20px;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

menu a:hover{
    /*font-size: 15px;*/
    color: chartreuse;
}

/*menu{
    color: black;
}*/
header>nav>menu{
    background: black;
    padding: 6px 20px;
}
header>nav>menu>a{
    color: white;
}
/*menu a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
}*/
#\#abo{
    margin-left: 550px;
}
main>section>h1{
    color: white;

}
#\#abo2{
    margin-left: 30px;

}
#home{
    margin-left: 30px;

}
#educate{
    margin-left: 30px;
}
#proj{
    margin-left: 30px;
}
#contactMe{
    margin-left: 30px;
}
/*section:nth-child(3)>image{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/
section:nth-child(3)>p{
    border: 20px solid black;
    background-color: gray;
    font-size: larger;

   /*border-left: #D6CECE solid 20px;*/
    border-top: black solid 1px;
  border-bottom: black solid 1px;
  /*  border-right: #D6CECE solid 50px;*/
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 400px;


}



#myphoto{
    border-radius: 150px;
    position: absolute;
    top: 230px;
    left: 100px;
    width: 23.5%;
   /* display: block;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
}
#chatbox{
    width: 100px;
    height: 30px;
    background: black;
    text-align: center;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 70px;
    border-radius: 100px;


}

/*section:nth-child(4)>section>section>h2,dl,dt,dd,b{
    background-color: black;
   color: white;
}*/
#EnSMainSection > h1{
    user-select: none;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Palanquin Dark', sans-serif;
    color: #393E46;
    /*color: transparent;*/
    -webkit-text-stroke:2px #393E46;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: -9%;
    left: -6%;
    margin: auto;
    text-transform: uppercase;
    font-size: 22vw;
    letter-spacing: 13px;
    z-index: 0;
}

#EnSMainSection{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ensSect{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#EnSSection{
    margin-top: 24vh;
    left: 20px;
}

.ensTitle{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    padding: 0 0 0 30px;
    margin-top: 30px;
    z-index: 5;

}

.ensColumns .ensContentBox{
    padding: 0 20px;
    border-left: solid 2px #ffeee8;
    margin-left: 100px;
}

.ensColumns .ensContentBox .endBox{
    border-radius: 5vh;
    position: relative;
    padding: 20px;
    border: 1px solid black;
    transition: all 0.4s;
    margin-bottom: 30px;
    cursor: pointer;
    align-self: center;
    width: 70%;
    background-color: black;

}

.ensColumns .ensContentBox .endBox:hover{
    /*box-shadow: 0 5px 15px 0 #C147E9;*/
    /*border: 1px solid transparent;*/
    background-color: #CCB8AD;
}
/*.ensColumns .ensContentBox .endBox h4{*/
/*    background-color: transparent;*/
/*}*/
/*.ensColumns .ensContentBox .endBox h3{*/
/*    background-color: transparent;*/
/*}*/
/*.ensColumns .ensContentBox .endBox p{*/
/*    background-color: transparent;*/
/*}*/

.ensColumns .ensContentBox .endBox h3{
    color: #1F1D36;
}

.ensColumns .ensContentBox .endBox p{
    color: #1F1D36;
    font-family: sans-serif;
    font-size: 14px;
}

.ensColumns .ensContentBox .endBox::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 26px);
    top: -1px;
    background-color: white;
    border: 2px solid white;
}

.ensColumns .ensContentBox .endBox h4{
    background-color: transparent;
    font-size: 19px;
    padding: 10px 0 6px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1F1D36;
}

/*skills*/
section:nth-child(5)> *{
    font-family: "Gill Sans";
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: black;

}
section:nth-child(5)>body{
    background: #333;
    text-transform: uppercase;
}
section:nth-child(5)>h1{
    text-align: center;
}
section:nth-child(5)>h3{
    margin: 5px;
}
section:nth-child(5)>.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);

}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140,1)0%, rgba(253,103,103,1)100%);
}
.html{
    width: 90px;
    animation: html 3s;
}
.css{
    width: 90px;
    animation: css 3s;
}
.java{
    width: 90px;
    animation: java 3s;
}
.photoshop{
    width: 90px;
    animation:photoshop 3s;
}
.premiumpro{
    width: 90px;
    animation:premiumpro 3s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes photoshop {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes premiumpro {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

/*projects*/
 /**{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: whitesmoke;
}
.container{
    display: flex;

}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
 img{
    height: 500px;
    width: 350px;
    border-radius: 3px;

}
.intro{
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, 5);
    bottom: 240px;
    color: white;
    bottom: 240px;

}
 h1{
    margin: 10px;
    font-size: 40px;

}
.intro p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;

}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom: 240px;
    background: black;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform : scale(1.1) rotate(-3deg);
}
*/
container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(33.33% - 20px);
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 0;
}
/*contat*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;

}
.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("assets/car7.jpeg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);


}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    align-items:  center;
    text-align: center;
    background-color:  gray;
    box-shadow: 0px 0px  19px 5px rgba(0,0,0,0.19);
}
.left{
    height: 100%;
    background :url("car3.jpeg") no-repeat center;
    background-size: cover;

}
.right{
    padding: 25px 40px;

}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;


}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;

}
.field:hover{
    background-color: rgba(0,0,0,0.1);

}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85, 250, 0.47);

}
.area{
    min-height: 150px;

}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}
.btn:hover{
    background-color: #27ae60;
}
@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}